

.container1 {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color:yellow;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #333; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}

.about-title {
  font-size: 28px;
  margin-bottom: 20px;
  color:black; 
  text-transform: capitalize; 
}

.about-content {
  text-align: left;
  margin-bottom: 20px;
}

.about-text {
  font-size:30px;
  line-height: 1.6;
  color: #555; 
}

.author {
  font-size:30px;
  font-style:normal;
  color:blue;
  margin-top: 10px;
}

.error-message {
  color: red;
  font-size: 18px;
}

.back-to-home-link {
  text-decoration: none;
  color: #007bff;
  margin-top: 20px;
  font-weight: bold;
  display: block;
}

.back-to-home-link:hover {
  text-decoration: underline;
  color: #0056b3;
}
